@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tell Me A Joke</h1>
    <p>A place to store all the jokes you hear or come up with in one place.</p>
</div>
